@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

/* import font css link */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


.font-poppins{
    font-family: 'Poppins', sans-serif;
}

.font-inter{
    font-family: 'Inter', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.fs-16{
    font-size: 16px;
}

.fs-22{
    font-size: 22px;
}

.fs-48{
    font-size: 48px;
}

/* common CSS  */
